
.linksFluid{
    & .linkWrapper{
        border: 1px solid $white;
        padding: 16px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: 0.3s linear;
        @include sm{
        }
        @include md{
            
        }
        @include lg{
            padding: 40px 20px;
        }
        @include xl{
            
        }
        @include xxl{
            
        }
        &:hover{
            background-color: #ede6ff;
            border: 1px solid #ede6ff;
            & .linksText{
                text-decoration: underline;
                color: $black;
                & img{
                    color: #ede6ff !important;
                    transform: translateX(10px);
                }
                &::after{
                    background-color: $white;
                }
            }
        }
        & img{
            margin-bottom: 20px;
            z-index: 2;
            position: relative;
            width: 25px;
            height: 25px;
            @include sm{
            }
            @include md{
            }
            @include lg{
                width: 40px;
                height: 40px;
            }
            @include xl{
                
            }
            @include xxl{
                
            }
        }
    }
    & .linksText{
        font-size: 12px;
        font-weight: 700;
        color: $black;
        position: relative;    
        @include sm{
        }
        @include md{
        }
        @include lg{
            font-size: 16px;
        }
        @include xl{
            
        }
        @include xxl{
            
        }
        &::after{
            content: "";
            position: absolute;
            background-color: #ede6ff;
            bottom: 33px;
            width: 25px;
            height: 25px;
            left: 11px;
            border-radius: 50%;
            z-index: 1;
            @include sm{
            }
            @include md{
            }
            @include lg{
                width: 40px;
                height: 40px;
            }
            @include xl{
                
            }
            @include xxl{
                
            }
        }
        & img{
            margin-bottom: 0;
            margin-left: 8px;
            color: $theme1;
            width: 15px;
            height: 15px;
            transition: 0.3s linear;
        }
    }
}

.chairmanFluid{
    & .heading{
        line-height: 1.2;
        font-weight: 500;
        text-align: center;
        @include sm{
        }
        @include md{
        }
        @include lg{
            // font-size: 25px;
            font-weight: 700;
            text-align: start;
        }
        @include xl{
            
        }
        @include xxl{
            
        }
    }
    & .para{
        text-align: center;
        @include sm{
        }
        @include md{
        }
        @include lg{
            text-align: start;
        }
        @include xl{
            
        }
        @include xxl{
            
        }
    }
    & .chairmanImg{
        width: 100%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}