.linksFluid{
    & .linkWrapper{
        border: 1px solid $white;
        padding: 40px 20px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: 0.3s linear;
        &:hover{
            background-color: #ede6ff;
            border: 1px solid #ede6ff;
            & .linksText{
                text-decoration: underline;
                color: $black;
                & img{
                    color: #ede6ff !important;
                    transform: translateX(10px);
                }
            }
        }
        & img{
            margin-bottom: 20px;
            width: 40px;
            height: 40px;
            z-index: 2;
            position: relative;
        }
    }
    & .linksText{
        font-size: 16px;
        font-weight: 700;
        color: $black;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: #ede6ff;
            bottom: 33px;
            left: 11px;
            border-radius: 50%;
            z-index: 1;
        }
        & img{
            margin-bottom: 0;
            margin-left: 5px;
            color: $theme1;
            width: 20px;
            height: 20px;
            transition: 0.3s linear;
        }
    }
}