.heroSection {

    & .heroSwiper {
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover{
          & .swiper-button-next{
            opacity: 1;
            visibility: visible;
       
          }
          & .swiper-button-prev{
              opacity: 1;
              visibility: visible;
          }
        }
        & .swiperSlider {
            background-position: center;
            background-size: cover;
            transition: all 0.3s ease-in-out;
            width: 100%;
            //   height: 200px;
            @include sm{
                // height:250px;
            }
            @include md{
                // height: 350px;
            }
            
            @include lg{
                //   height: 410px;

            }
            & .sliderImg{
    
                @include sm{
                    height: auto;
                }
        
                & img{
                object-fit: contain;
            

                @include sm{
                    height: 100% !important;
                }
                
                }
            }
        }
        & .swiper-button-next{
            &::after{
                display: none !important;
            }
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            background: rgba(8, 8, 8, 0.342);
            box-shadow: 0 3px 4px #b9aeae10;
            border: 1px solid $white;
            opacity: 1;
            backdrop-filter: blur(15px);
            z-index: 1;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: $theme2 !important;
            }

            @include sm{
         
            }
            @include md{
                width: 45px;
                height: 45px;
            }
            @include lg{
                width: 55px;
                height: 55px;
            }

            & .swiperIcon{
                & img{
                 filter: invert(1);
                }
            }
        }
        & .swiper-button-prev{
            &:after{
                display: none !important;
            }
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            background: rgba(8, 8, 8, 0.342);
            box-shadow: 0 3px 4px #b9aeae10;
            border: 1px solid $white;
            opacity: 1;
            backdrop-filter: blur(15px);
            z-index: 1;
            transition: all 0.3s ease-in-out;
            @include sm{
         
            }
            @include md{
                width: 45px;
                height: 45px;
            }
            @include lg{
                width: 55px;
                height: 55px;
            }
            &:hover{
                background: $theme2 !important;
            }
            & img{
                filter: invert(1);
               }
               
        }
        & .swiper-pagination{
        z-index: 5 !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap:5px;
        align-items: center;
        justify-content: center;
    
            & .swiper-pagination-bullet{
             width: 15px;
             height: 3px;
             border-radius: 100px;
             background: $black !important;
             z-index: 6;
             opacity: 1;
             @include sm{
                width: 15px;
                height: 4px;
             }

            }
            & .swiper-pagination-bullet-active{
                width: 40px;
                background: $theme2 !important;
            }


        }
    }
    
    
  
    
}
.jg-caption{
    display: none !important;
}

.aboutUs{
     & .headingSection {
        height: 45vh;
        background: url(../img/MSME.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: $black;
            opacity: .60;
        }
        & .pageheading {
            font-size: 40px;
            font-weight: 700;
            color: $white;
            @include sm {
                font-size: 45px;
            }
            @include md {
                font-size: 50px;
            }
            @include lg {
                font-size: 55px;
            }
            @include xl {
                font-size:60px;
            }
        }
        & .headingBreadcrumb {
            & .headingTitle {
                font-size: 14px;
                font-weight: 500;
                color: $white;
                & a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $theme2;
                    }
                }
                &.active {
                    color: lighten($black, 75);
                    &::before {
                        color: lighten($black, 75);
                    }
                }
                @include sm {
                    font-size: 15px;
                }
                @include md {
                    font-size: 16px;
                }
            }
        }
        @include sm {
            height: 55vh;
        }
    }
    
    & .common-heading{
        position: relative;
        font-size: 30px;
        font-weight: 700;
        color: $theme1;
        @include md{
        font-size: 40px;

        }


        &::after{
            content:"";
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            height:100%;
            width:130px;
            border-bottom:$theme2 solid 1px;
            margin:auto
        }
        &::before{
                content:""; 
                position:absolute;
                left:0;
                right:0;
                bottom:-3px;
                height:100%;
                width:115px;
                border-bottom:$theme2 solid 1px;
                margin:auto
        }
        }
        // & .contentPera{
        //     font-size: 14px;
        //     line-height: 22px;
        //     font-weight: 500;
        //     color: $black;
        //     @include sm{
        //         font-size: 15px;
        //         line-height: 25px;
        //     }
        // }
}

 .common-heading{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: $theme1;
    @include md{
    font-size: 40px;

    }


    &::after{
        content:"";
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        height:100%;
        width:130px;
        border-bottom:$theme2 solid 1px;
        margin:auto
    }
    &::before{
            content:""; 
            position:absolute;
            left:0;
            right:0;
            bottom:-3px;
            height:100%;
            width:115px;
            border-bottom:$theme2 solid 1px;
            margin:auto
    }
}


 .gallarySection{
    & #mygallery{
        & .galleryHover{
            border-radius: 10px !important;
            overflow: hidden;
           background-color: lighten($black,80);
           padding: 5px;
           transition: all 0.3s ease-in-out;
           &:hover {
               transform:translateY(-5px);
               & img{
            }
           }
            & img{
                border-radius: 10px !important; 
                transition: all 0.3s ease-in-out;
                overflow: hidden;
            }
         
        }

    }
   

}
    // blog page start 
.headingSection {
    height: 35vh;
    background: url(../img/MSME.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
&.newsSection{
    height: 45vh;
    background: url(../img/news.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

&.contactSection{
    height: 45vh;
    background: url(../img/about-us-banner.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
&.blogSection{
    height: 45vh;
    background: url(../img/blog03.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
}

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: $black;
        opacity: .7;
    }
    & .pageheading {
        font-size: 40px;
        font-weight: 700;
        color: $white;
        @include sm {
        }
        @include md {
        }
        @include lg {
        }
        @include xl {
        }
    }
    & .headingBreadcrumb {
        & .headingTitle {
            font-size: 14px;
            font-weight: 500;
            color: $white;
            & a {
                font-size: 14px;
                font-weight: 500;
                color: $white;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $theme2;
                }
            }
            &.active {
                color: lighten($black, 75);
                &::before {
                    color: lighten($black, 75);
                }
            }
            @include sm {
            }
            @include md {
            }
        }
    }
    @include sm {
        // height: 55vh;
    }
}
// blog page end

// newsSectionStart 

.newsSectionStart{
    .headingSection {
        height: 45vh;
        background: url(../img/newsbg.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: $black;
            opacity: .60;
        }
        & .pageheading {
            font-size: 40px;
            font-weight: 700;
            color: $white;
            @include sm {
                font-size: 45px;
            }
            @include md {
                font-size: 50px;
            }
            @include lg {
                font-size: 55px;
            }
            @include xl {
                font-size:60px;
            }
        }
        & .headingBreadcrumb {
            & .headingTitle {
                font-size: 14px;
                font-weight: 500;
                color: $white;
                & a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $theme2;
                    }
                }
                &.active {
                    color: lighten($black, 75);
                    &::before {
                        color: lighten($black, 75);
                    }
                }
                @include sm {
                    font-size: 15px;
                }
                @include md {
                    font-size: 16px;
                }
            }
        }
     
        @include sm {
            height: 55vh;
        }
    }


    & .sectionHeading{
        font-size: 19px;
        font-weight: 700;
        color: $black;
    
        @include md{
            font-size: 22px;
        }
        @include lg{
        font-size: 25px;

        }
    }
    & .tableSection{
        & .tableSectionDesign{
            & thead{
                & tr{
                    & th{
                        font-size: 16px;
                        font-weight: 700;
                        color:$black;
                        background-color: $theme2;
                        
                        @include sm{
                        font-size: 18px;

                        }
                    }
                }
            }
            & tbody{
                & tr {
                    & td{
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            & a{
                                color: $theme1;
                            }
                        }
                        & a{
                            // font-size: 13px;
                            // color: $black ;
                            // font-weight: 500;
                            // transition: all 0.3s ease-in-out;
                            // @include sm{
                            //     font-size: 14px;
                            // }
                            color: #777;
                            
                        }
                    }
                }
            }
        }
    }
    & .sideNav{
        & .imgTime{
            height: 50px;
            width: 250px;

        }
        & .newsHeading{
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            color: $black;
            @include sm{
                font-size: 18px;
                line-height: 28px;
            }
        }
        & .shareWrpTxt{
            font-size: 12px;
            line-height: 14px;
            color: rgb(113, 117, 118);
            display: inline-block;
            @include sm{
                font-size: 14px;
                line-height: 16px;
            }
         
        }
        & .shareWrpSprtr{
            width: 2px;
            height: 2px;
            background: rgb(193, 193, 193);
            margin: 1px 8px 0px;
        }
        & .socialIcon{
            width: 35px;
            height: 35px;
            transition: all 0.3s ease-in-out;
            & img{
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                & img{
                    transform:scale(1.1);
                }
            }
        }
        & .contentNews{
            font-size: 13px;
            color: $black;
            opacity: 0.7;
            @include sm{
                font-size: 14px;
            }
        }
    }
}


.contactUs{
    .headingSection {
        height: 45vh;
        background: url(../img/about-us-banner.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: $black;
            opacity: .60;
        }
        & .pageheading {
            font-size: 40px;
            font-weight: 700;
            color: $white;
            @include sm {
                font-size: 45px;
            }
            @include md {
                font-size: 50px;
            }
            @include lg {
                font-size: 55px;
            }
            @include xl {
                font-size:60px;
            }
        }
        & .headingBreadcrumb {
            & .headingTitle {
                font-size: 14px;
                font-weight: 500;
                color: $white;
                & a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $theme2;
                    }
                }
                &.active {
                    color: lighten($black, 75);
                    &::before {
                        color: lighten($black, 75);
                    }
                }
                @include sm {
                    font-size: 15px;
                }
                @include md {
                    font-size: 16px;
                }
            }
        }
        @include sm {
            height: 55vh;
        }
    }

    & iframe{
        height: 320px;
        @include lg{
            height:100% !important;
        }
    }

   & .formSection{
    & .formLabel{
        font-size: 14px;
        color: $black;
        font-weight: 500;
        @include sm{
        font-size: 16px;

        }
       
    }
    & textarea{
        font-size: 12px;
        color: $black;
        font-weight: 400;
        height: 40px;
        @include sm{
            font-size: 14px;
        }
        &::placeholder{
            color: lighten($black,50);
            font-size: 14px;
            font-weight: 400;
         
        }
    }
    & select{
        font-size: 12px;
        color: $black;
        font-weight: 400;
        height: 40px;
        @include sm{
            font-size: 14px;
        }
        &::placeholder{
            color: lighten($black,50);
            font-size: 14px;
            font-weight: 400;
         
        }
    }
    & .formInput{
        font-size: 12px;
        color: $black;
        font-weight: 400;
        height: 40px !important;
        @include sm{
            font-size: 14px !important;
        }
        &::placeholder{
            color: lighten($black,50);
            font-size: 14px;
            font-weight: 400;
         
        }
    }
  
   }
}


.whatsMsme{
    & .whatsCard{
        transition: all 0.3s ease-in-out;
        border: 1px solid #dee2e6 ;
        padding:10px;
        @include sm{
        padding:20px 30px;

        }
        &:hover{
            & .imgWhats{
                & img{
                    transform: scale(1.1);
                }
            }
        }

        & .imgWhats{
            width: 50px;
            height: 50px;
            & img{
                transition: all 0.3s ease-in-out;
            }
            @include sm{
                width: 70px;
                height: 70px;
            }
            @include md{
                width: 100px;
                height: 100px;
            }

        }
        & .cardHeading{
            font-size: 17px;
            color: $theme1;
            font-weight: 700;
            @include sm{
                font-size: 18px;
            }
            @include md{
                font-size: 20px;
            }
        }
        & .contentcard{
            font-size: 13px;
            line-height: 20px;
            color: $black;
            font-weight: 500;
            opacity: 0.8;
            @include sm{
            font-size: 15px;

            }
        }
    }
    & .msmeImg{
        aspect-ratio: 1/0.9;
        & img{
            object-fit: contain;
        }
    }
    & .msmeHeading{
        font-size: 19px;
        color: $black;
        font-weight: 700;
        @include sm{
            font-size: 22px;
        }
        @include md{
        font-size: 25px;

        }
    }
}

.whatmsmeSection{
    & .msmeCardWhat{
        & .cardImg{
            overflow: hidden;
            &:hover{
                & img{
                    transform: scale(1.1);
                }
            }
            & img{
                aspect-ratio: 1/0.7;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                object-fit: contain;
            }
        }
        & .cardContent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include sm{
                height: 163px;
            }
            @include md{
            height: 220px;  

            }
            @include lg{
            height: 210px;

            }
               @include xl{
            height: 230px;

            }
            @include xxl{
            height: 250px;

            }
            & .cardHeading{
                font-size: 18px;
                color: $theme1;
                font-weight: 700;
                text-align: center;
                @include sm{
                    font-size: 20px;
                }
            }
            & .content{
              
                text-align: center;
                color: $black;
                opacity: 0.7;
                font-weight: 400;
            }
        }
    }
}